# PDF Processing
PyPDF2
pdf2image
pdfplumber==0.10.3
PyYAML==6.0

# Image Handling
opencv-python==4.8.0
PIL

# OCR
Tesseract
pytesseract==0.3.10
EasyOCR

# Layout analysis
layoutparser==0.3.4
Detectron2

# Custom Models
PyTorch
Tensorflow
Torch

# Excel output
pandas==2.0.3
openpyxl
XlsxWriter

# Annotation
label_studio_sdk